h2 {
    color: hotpink;
    font-family: monospace;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2023%2F08%2F05%2F15%2F42%2Fpanda-8171354_1280.jpg&f=1&nofb=1&ipt=4cfb51130b8095ae39fa16cf4ec20aa874bc391ca2a257aab6df6add8df21e66);
}
